---
layout: nil

slider:
 - image: assets/slider01.jpg
   link: assets/slider01.jpg
   is_lightbox: false
   caption_title: 院庆详细情况见公告
   caption_content: 学院已毕业校友请进行院友注册
   effect: vertical_slice
 - image: assets/slider02.jpg
   link: assets/slider02.jpg
   is_lightbox: true
   caption_title: 浦口南京大学软件学院教学实验楼
   caption_content: 
   effect: vertical_mirror
 - image: assets/slider03.jpg
   link: assets/slider03.jpg
   is_lightbox: true
   caption_title: 鼓楼校区科研综合楼
   caption_content:
   effect: horizontal_slice
 - image: assets/slider04.jpg
   link: assets/slider04.jpg
   is_lightbox: true
   caption_title: 仙林实验楼
   caption_content: 
   effect: vertical_mirror
 - image: assets/slider05.jpg
   link: assets/slider05.jpg
   is_lightbox: false
   caption_title: 南京大学北大楼
   caption_content:
   effect: fold

---
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="zh"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="zh"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.name }}</title>
  <meta name="robots" content="index,follow" />
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords | join:", " }}" />
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
  <link rel="stylesheet" type="text/css" href="js/prettyPhoto/css/prettyPhoto.css" media="screen"/>
  <link rel="stylesheet" href="css/style.css">
  <link type="text/plain" rel="author" href="humans.txt" />
  <script src="js/libs/modernizr-2.5.3.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29777313-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <p id="ie6-message">您的浏览器禁用了Javascript，启用后方能获得最佳浏览体验。</p>
  <script type="text/javascript">(function(){
    var nojs = document.getElementById("ie6-message");
    nojs.parentNode.removeChild(nojs);
  })();</script>
  <!-- Prompt IE 6 users to install Chrome Frame. -->
  <!--[if lt IE 7]><p class="chromeframe" id="ie6-message">您的浏览器 <em>太古老了！</em> <a href="http://browsehappy.com/">升级成更好的浏览器</a> 或者 <a href="http://www.google.com/chromeframe/?redirect=true">安装 Google Chrome Frame</a> 以获得更好的效果。</p><![endif]-->
  <!-- header -->
  <header id="header" class="fixed">
  <!-- header-content -->
  <div id="content-header">
    <!-- logo -->
    <div id="logo"> <a href="#top-page" title="软件学院十周年" ><img src="assets/logo.png" title="软件学院十周年" alt="软件学院十周年" /></a></div>
    <!-- /logo -->
    <!-- main-menu -->
    <nav id="main-menu">
    <ul id="menu">
      <li class="current"><a href="#top-page">首页</a></li>
      <li><a href="#announcement">院庆公告</a></li>
      <li><a href="#news">交流动态</a></li>
      <li><a href="#achievement">成果展示</a></li>
      <li><a href="#history">院史纪略</a></li>
      <li><a href="#download">相关下载</a></li>
      <li><a href="#register">院友注册</a></li>
    </ul>
    </nav>
    <!-- /main-menu -->
  </div>
  <!-- /float-header -->
  </header>
  <!-- /header -->
  <!-- top-page -->
  <section id="top-page"></section>
  <!-- /top-page -->
  <!-- slider-wrap -->
  <section id="slider-wrap" class="slider-wrap-blue">
  <!-- slider -->
  <div id="homepage-slider" class="rs big-slider navigation">
    <!-- slider content -->
    <div class="rs-content">
      {% for slide in page.slider %}
      <!-- slide -->
      <div class="rs-slide" data-effect="{{  slide.effect  }}">
        <div class="rs-slide-content">
          {% if slide.caption_title %}
          <!-- caption -->
          <div class="rs-caption">
            <h2>{{  slide.caption_title  }}</h2>
            {% if slide.caption_content %}<p>{{  slide.caption_content  }}</p>{% endif %}
          </div>
          <!-- /caption -->
          {% endif %}
          <!-- image -->
          <div class="rs-image"><a href="{{  slide.link  }}" {% if slide.is_lightbox %} data-gal="lightbox" {% else %} class="rs-next-click" {% endif %} title=""><img src="{{  slide.image  }}" alt=""/></a></div>
          <!-- /image -->
          </div>
      </div>
      <!-- /slide -->
      {% endfor %}
    </div>
    <!-- /slider content -->
    <!-- slider navigation -->
    <div class="rs-nav"></div>
    <a class="rs-next" href="#"></a> <a class="rs-prev" href="#"></a>
    <!-- /slider navigation -->
  </div>
  <!-- slider -->
  </section>
  <!-- /slider-wrap -->
  <!-- latest works -->
  <section>
  <!-- section content -->
  <div class="latest content clearfix">
    <!-- view all works - button -->
    <a href="#announcement" id="view-projects-btn"></a>
    <!-- /view all works - button -->
  </div>
  <!-- /section content -->
  </section>
  <!-- /latest works -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="announcement"></div>
  <!-- announcement section -->
  <section class="section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>院庆公告</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="announcements content clearfix">
    {% for post in site.categories.announcement %}
    <div class="col col-1-4"> <header><span>{{  post.thumb_title  }}</span></header>
      <div class="lw-image"> <a href="{{  post.url  }}?iframe=true&amp;width=830&amp;height=610" data-gal="lightbox[recent]"> <img src="{{  post.thumb  }}" width="222" height="256" class="img-zoom" alt=""/> </a> </div>
      <footer></footer>
    </div>
    {% endfor %}
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /announcement section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="news"></div>
  <!-- news section -->
  <section class="section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>交流动态</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="content">
    {% render_partial news.html %}
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /news section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="achievement"></div>
  <!-- achievement section -->
  <section class="section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>成果展示</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="content clearfix">
    <!-- column 1 -->
    <div class="col col-1-3">
      <!-- achievement list -->
      <div class="achievement-list">
        <div class="achievement-list-top"></div>
        <div class="achievement-container">
          <ul>
            {% for post in site.categories.achievement %}
            <li>
              <a href="{{  post.url  }}">{{  post.title  }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="achievement-list-footer"></div>
      </div>
      <!-- /achievement list -->
    </div>
    <!-- /column 1 -->
    <!-- column 2 -->
    <div class="col col-2-3 last">
      <!-- achievement articles -->
      <div class="achievement-articles">
        {% for post in site.categories.achievement %}
        <div class="achievement-article text">
          {{  post.content  }}
        </div>
        {% endfor %}
      </div>
      <!-- /achievement articles -->
    </div>
    <!-- /column 2 -->
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /achievement section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="history"></div>
  <!-- history section -->
  <section class="section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>院史纪略</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="content clearfix">
    {% render_partial timeline.html %}
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /history section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="download"></div>
  <!-- download section -->
  <section class="section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>相关下载</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="content clearfix">
    {% render_partial downloads.html %}
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /download section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="register"></div>
  <!-- register section -->
  <section class="section last-section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>院友注册</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="content clearfix">
    {% include register.html %}
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /register section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- footer -->
  <footer id="footer">
    <!-- copyright -->
    <div id="copyright">
      <p>&copy; 2012 南京大学软件学院。保留所有权利。</p>
      <p>南京市汉口路22号，南京大学软件学院(费彝民楼B座4-9层) 210093<br />025-83621002, 025-83621369</p>
    </div>
    <div id="forkme">
      <p>Last Update: {{  site.time | date_to_string  }}<br /><a href="https://github.com/clippit/10th-anniversary" title="10th-anniversary on github">Fork me on GitHub</a></p>
    </div>
    <!-- /copyright -->
  </footer>
  <!-- /footer -->
  <!-- clearfix -->
  <div class="clearfix"></div>

  <script src="http://lib.sinaapp.com/js/jquery/1.7/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="js/plugins.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
  <script src="fonts/lth.font.js"></script>
  <script> Cufon.now(); </script>
</body>
</html>
