---
layout: nil

slider:
 - image: assets/slider01.jpg
   link: assets/slider01.jpg
   is_lightbox: false
   caption_title: 院庆详细情况见公告
   caption_content: 学院已毕业校友请进行院友注册
   effect: vertical_slice
 - image: assets/slider02.jpg
   link: assets/slider02.jpg
   is_lightbox: true
   caption_title: 浦口南京大学软件学院教学实验楼
   caption_content: 
   effect: vertical_mirror
 - image: assets/slider03.jpg
   link: assets/slider03.jpg
   is_lightbox: true
   caption_title: 鼓楼校区科研综合楼
   caption_content:
   effect: horizontal_slice
 - image: assets/slider04.jpg
   link: assets/slider04.jpg
   is_lightbox: true
   caption_title: 仙林实验楼
   caption_content: 
   effect: vertical_mirror
 - image: assets/slider05.jpg
   link: assets/slider05.jpg
   is_lightbox: false
   caption_title: 南京大学北大楼
   caption_content:
   effect: fold

---
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="zh"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="zh"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.name }}</title>
  <meta name="robots" content="index,follow" />
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords | join:", " }}" />
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
  <link rel="stylesheet" type="text/css" href="js/prettyPhoto/css/prettyPhoto.css" media="screen"/>
  <link rel="stylesheet" href="css/style.css">
  <link type="text/plain" rel="author" href="humans.txt" />
  <script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>您的浏览器 <em>太古老了！</em> <a href="http://browsehappy.com/">升级成更好的浏览器</a> 或者 <a href="http://www.google.com/chromeframe/?redirect=true">安装 Google Chrome Frame</a> 以获得更好的效果。</p><![endif]-->
  <!-- header -->
  <header id="header" class="fixed">
  <!-- header-content -->
  <div id="content-header">
    <!-- logo -->
    <div id="logo"> <a href="#top-page" title="软件学院十周年" ><img src="assets/logo.png" title="软件学院十周年" alt="软件学院十周年" /></a></div>
    <!-- /logo -->
    <!-- main-menu -->
    <nav id="main-menu">
    <ul id="menu">
      <li class="current"><a href="#top-page">首页</a></li>
      <li><a href="#announcement">院庆公告</a></li>
      <li><a href="#news">交流动态</a></li>
      <li><a href="#achivement">成果展示</a></li>
      <li><a href="#history">软院纪略</a></li>
      <li><a href="#download">相关下载</a></li>
      <li><a href="#register">院友注册</a></li>
    </ul>
    </nav>
    <!-- /main-menu -->
  </div>
  <!-- /float-header -->
  </header>
  <!-- /header -->
  <!-- top-page -->
  <section id="top-page"></section>
  <!-- /top-page -->
  <!-- slider-wrap -->
  <section id="slider-wrap" class="slider-wrap-blue">
  <!-- slider -->
  <div id="homepage-slider" class="rs big-slider navigation">
    <!-- slider content -->
    <div class="rs-content">
      {% for slide in page.slider %}
      <!-- slide -->
      <div class="rs-slide" data-effect="{{  slide.effect  }}">
        <div class="rs-slide-content">
          {% if slide.caption_title %}
          <!-- caption -->
          <div class="rs-caption">
            <h2>{{  slide.caption_title  }}</h2>
            {% if slide.caption_content %}<p>{{  slide.caption_content  }}</p>{% endif %}
          </div>
          <!-- /caption -->
          {% endif %}
          <!-- image -->
          <div class="rs-image"><a href="{{  slide.link  }}" {% if slide.is_lightbox %} data-gal="lightbox" {% else %} class="rs-next-click" {% endif %} title=""><img src="{{  slide.image  }}" alt=""/></a></div>
          <!-- /image -->
          </div>
      </div>
      <!-- /slide -->
      {% endfor %}
    </div>
    <!-- /slider content -->
    <!-- slider navigation -->
    <div class="rs-nav"></div>
    <a class="rs-next" href="#"></a> <a class="rs-prev" href="#"></a>
    <!-- /slider navigation -->
  </div>
  <!-- slider -->
  </section>
  <!-- /slider-wrap -->
  <!-- latest works -->
  <section>
  <!-- section content -->
  <div class="latest content clearfix">
    <!-- view all works - button -->
    <a href="#announcement" id="view-projects-btn"></a>
    <!-- /view all works - button -->
  </div>
  <!-- /section content -->
  </section>
  <!-- /latest works -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="announcement"></div>
  <!-- announcement section -->
  <section class="section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>院庆公告</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="announcements content clearfix">
    {% for post in site.categories.announcement %}
    <div class="col col-1-4"> <header><span>{{  post.thumb_title  }}</span></header>
      <div class="lw-image"> <a href="{{  post.url  }}?iframe=true&amp;width=830&amp;height=610" data-gal="lightbox[recent]"> <img src="{{  post.thumb  }}" width="222" height="256" class="img-zoom" alt=""/> </a> </div>
      <footer></footer>
    </div>
    {% endfor %}
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /announcement section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="news"></div>
  <!-- news section -->
  <section class="section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>交流动态</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="content">
    <div class="black-box">
      <p>2012年3月8日，南京大学软件学院10周年院庆网站正式上线运行。</p>
    </div>
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /news section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="achivement"></div>
  <!-- achivement section -->
  <section class="section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>成果展示</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="content clearfix">
    <!-- column 1 -->
    <div class="col col-1-3">
      <!-- news list -->
      <div class="news-list">
        <div class="news-list-top"></div>
        <div class="news-container">
          <ul>
            {% for post in site.categories.achivement %}
            <li>
              <a href="{{  post.url  }}">{{  post.title  }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="news-list-footer"></div>
      </div>
      <!-- /news list -->
    </div>
    <!-- /column 1 -->
    <!-- column 2 -->
    <div class="col col-2-3 last">
      <!-- news articles -->
      <div class="news-articles">
        {% for post in site.categories.achivement %}
        <div class="news-article text">
          {{  post.content  }}
        </div>
        {% endfor %}
      </div>
      <!-- /news articles -->
    </div>
    <!-- /column 2 -->
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /achivement section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="history"></div>
  <!-- history section -->
  <section class="section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>软院纪略</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="content clearfix">
    <!-- column 1 -->
    <div class="col col-1-3">
      <!-- skills -->
      <h3 class="tab-heading">Our skills</h3>
      <ul class="skills glow">
        <!-- skill -->
        <li><span class="skill">(x)HTML & CSS <span>(experience since 2003)</span></span><span class="skill-bar"><span style="width:75%"></span></span></li>
        <!-- /skill -->
        <!-- skill -->
        <li><span class="skill">JavaScript <span>(experience since 2002, highly skilled)</span></span><span class="skill-bar"><span></span></span></li>
        <!-- /skill -->
        <!-- skill -->
        <li><span class="skill">Adobe Photoshop <span>(experience since 2004)</span></span><span class="skill-bar"><span style="width:75%"></span></span></li>
        <!-- /skill -->
        <!-- skill -->
        <li><span class="skill">Adobe Illustrator <span>(usage since 2007, good skills)</span></span><span class="skill-bar"><span style="width:50%"></span></span></li>
        <!-- /skill -->
        <!-- skill -->
        <li><span class="skill">PHP <span>(experience since 2004)</span></span><span class="skill-bar"><span style="width:75%"></span></span></li>
        <!-- /skill -->
      </ul>
      <div class="skills-graph"></div>
      <a href="index.html#" class="button-big">If you are interested, lets talk</a>
      <!-- /skills -->
    </div>
    <!-- /column 1 -->
    <!-- column 2 -->
    <div class="col col-2-3 text last">
      <!-- slider -->
      <div id="about-slider" class="rs">
        <!-- slider content -->
        <div class="rs-content">
          <!-- slide -->
          <div class="rs-slide" data-effect="horizontal">
            <div class="rs-slide-content">
              <!-- image -->
              <div class="rs-image"><a href="index.html#" class="rs-next-click"><img src="assets/about03.jpg" alt="About image"/></a></div>
              <!-- /image -->
            </div>
          </div>
          <!-- /slide -->
          <!-- slide -->
          <div class="rs-slide" data-effect="horizontal">
            <div class="rs-slide-content">
              <!-- image -->
              <div class="rs-image"><a href="index.html#" class="rs-next-click"><img src="assets/about01.jpg" alt="About image"/></a></div>
              <!-- /image -->
            </div>
          </div>
          <!-- /slide -->
          <!-- slide -->
          <div class="rs-slide" data-effect="horizontal">
            <div class="rs-slide-content">
              <!-- image -->
              <div class="rs-image"><a href="index.html#" class="rs-next-click"><img src="assets/about02.jpg" alt="About image"/></a></div>
              <!-- /image -->
            </div>
          </div>
          <!-- /slide -->
        </div>
        <!-- /slider content -->
      </div>
      <!-- /slider -->
      <h4>Fusce ornare odio et ligula volutpat ultricies. Donec et ullamcorper dolor. Sed tellus lacus, lacinia sed porta vel, sodales nec turpis. Morbi eu tellus vel nisl semper pretium.</h4>
      <p><strong>Sed fringilla neque non velit pharetra nec ornare metus faucibus. Morbi est ipsum, congue id tempus eleifend, lacinia vestibulum orci. 
        Curabitur elementum mollis ipsum et congue.</strong></p>
      <p>Nullam sit amet ante in felis auctor mattis in eu metus. Duis id metus tempor nunc imperdiet sagittis vel et odio. Phasellus ac ligula in felis egestas luctus ac sit amet felis. Suspendisse id dignissim ligula. Sed fringilla neque non velit pharetra nec ornare metus faucibus. Morbi est ipsum, congue id tempus eleifend, lacinia vestibulum orci. 
        Curabitur elementum mollis ipsum et congue. </p>
      <p>Donec tempus tellus quis mauris rhoncus sed viverra ante fringilla. Donec porttitor elementum justo sed accumsan. Donec vehicula diam nec lectus imperdiet varius pellentesque arcu iaculis. Integer consequat bibendum enim eget ullamcorper. Etiam eget enim orci, varius cursus ipsum. Praesent felis ante, convallis quis aliquam a, bibendum sed odio. Suspendisse eget nulla ipsum, varius suscipit sapien. Donec vulputate mi facilisis neque adipiscing vitae dapibus sapien feugiat. Nulla feugiat vehicula eros ac sodales. Sed vitae scelerisque nisi. Quisque non commodo erat. Nam id ipsum a nunc pretium suscipit eu ac dolor. Nunc iaculis mollis orci et dictum. </p>
      <ul class="tweets styled">
        <li>
          <p>Sed fringilla neque non velit pharetra nec ornare metus faucibus. Morbi est ipsum, congue id tempus eleifend, lacinia <a href="index.html#">vestibulum orci</a>. Curabitur elementum mollis ipsum et congue. <span>- Posted 9 hours ago -</span></p>
        </li>
      </ul>
      <div class="divider"></div>
    </div>
    <!-- /column 2 -->
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /history section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="download"></div>
  <!-- download section -->
  <section class="section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>相关下载</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="content clearfix">
    <div class="col col-1-2 text">
      <h3>Send a message if you have any question</h3>
      <!-- contact form -->
      <div class="rf contact-form">
        <!-- form item -->
        <div class="rf-item input">
          <input type="text" onBlur="if (this.value == '') {this.value = 'Name:'}" onFocus="if (this.value == 'Name:') {this.value = ''}" name="data[name]" value="Name:" class="req valid_length" />
        </div>
        <!-- /form item -->
        <!-- form item -->
        <div class="rf-item input">
          <input type="text" onBlur="if (this.value == '') {this.value = 'E-mail:'}" onFocus="if (this.value == 'E-mail:') {this.value = ''}" name="data[email]" value="E-mail:" class="req valid_email" />
        </div>
        <!-- /form item -->
        <!-- form item -->
        <div class="rf-item input">
          <input type="text" onBlur="if (this.value == '') {this.value = 'Phone:'}" onFocus="if (this.value == 'Phone:') {this.value = ''}" name="data[phone]" value="Phone:" class="req valid_length" />
        </div>
        <!-- /form item -->
        <!-- form item -->
        <div class="rf-item input">
          <textarea cols="5" rows="10" name="data[message]" onBlur="if (this.value == '') {this.value = 'Message:'}" onFocus="if (this.value == 'Message:') {this.value = ''}" class="req valid_length">Message:</textarea>
        </div>
        <!-- /form item -->
        <!-- form item -->
        <div class="rf-item input" style="width:120px">
          <input type="text" onBlur="if (this.value == '') {this.value = '2+5='}" onFocus="if (this.value == '2+5=') {this.value = ''}" name="asq" value="2+5=" class="req valid_asq valid_length" />
        </div>
        <!-- /form item -->
        <!-- form item (submit)-->
        <div class="rf-submit">
          <input type="submit" value="Send Message" class="submit rf-send" />
          <span class="rf-loader"></span> <span class="rf-message"></span> </div>
        <!-- /form item (submit) -->
      </div>
      <!-- /contact form -->
    </div>
    <div class="col col-1-2 text last">
      <h3>Find us</h3>
      <div id="gmap-wrap" class="frame">
        <div id="gmap"></div>
      </div>
      <div class="col col-1-4">
        <p>Lorem ipsum dolorsit amet, consectetur adipiscing elit. In sagittis tincidunt leo ut volutpat. Nullam dictum lorem eget mi fermentum ultrices eleifend est condimentum. </p>
      </div>
      <div class="col col-1-4 last">
        <p class="address-box"> <strong>9988 Main Road, Warsaw, <br/>
          02-933. Poland<br/>
          </strong> <span class="left">Freephone:</span><span class="right">+01 800 559 6580</span> <span class="left">Telephone:</span><span class="right">+01 959 603 6035</span> <span class="left">FAX:</span><span class="right">+01 504 889 9898</span> <span class="left">E-mail:</span><span class="right"><a href="mailto:mail@demolink.org">mail@demolink.org</a></span> </p>
      </div>
    </div>
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /download section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- section anchor -->
  <div class="section-anchor" id="register"></div>
  <!-- register section -->
  <section class="section last-section">
  <div class="section-line"></div>
  <!-- section header -->
  <div class="section-header">
    <h2>院友注册</h2>
  </div>
  <!-- /section header -->
  <!-- section content -->
  <div class="content clearfix">
    <div class="col col-1-2">
      {% for post in site.categories.announcement%}
      {{  post.title }}
      {% endfor %}
      院友系统是。。。。。。。。。。。。。。。。。。。。。。。
    </div>
    <div class="col col-1-2 last">
      <a href="#" class="button-big">立即注册</a>
    </div>
  </div>
  <!-- /section content -->
  <div class="section-line"></div>
  </section>
  <!-- /register section -->
  <!-- clearfix -->
  <div class="clearfix"></div>
  <!-- footer -->
  <footer id="footer">
    <!-- copyright -->
    <div id="copyright">
      <p>&copy; 2012 南京大学软件学院。保留所有权利。</p>
    </div>
    <div id="forkme">
      <p>Last Update: {{  site.time | date_to_string  }}<br /><a href="https://github.com/clippit/10th-anniversary" title="10th-anniversary on github">Fork me on GitHub</a></p>
    </div>
    <!-- /copyright -->
  </footer>
  <!-- /footer -->
  <!-- clearfix -->
  <div class="clearfix"></div>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <!-- <script type="text/javascript" src="js/jquery.R-Forms.js"></script>
  <script type="text/javascript" src="js/jquery.tipsy.js"></script>
  <script type="text/javascript" src="js/jquery.masonry.min.js"></script>  -->
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="fonts/lth.font.js"></script>



  <script type="text/javascript"> Cufon.now(); </script>
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
