---
downloads:
  - header: 软件学院十周年庆祝标识
    title: 院庆Logo
    thumb: assets/download1.jpg
    links:
      - file: downloads/logo1.png
        description: 版本一
      - file: downloads/logo2.png
        description: 版本二
    category: 图像
  - header: 4月15日院友院庆安排
    title: 院友院庆安排表
    thumb: assets/download2.jpg
    links:
      - file: downloads/schedule.doc
        description: 安排表
    category: 文档
  - header: 参加院庆院友合影
    title: 院友合影㈠
    thumb: assets/download3.jpg
    links:
      - file: downloads/6x8-3.jpg
        description: 2002级研究生
      - file: downloads/6x8-4.jpg
        description: 2004级本科生，2007级研究生
      - file: downloads/6x8-5.jpg
        description: 2004级研究生
      - file: downloads/6x8-6.jpg
        description: 2002级本科生，2006级研究生
    category: 图像
  - header: 参加院庆院友合影（续）
    title: 院友合影㈡
    thumb: assets/download4.jpg
    links:
      - file: downloads/6x10-7.jpg
        description: 2005级本科生，2009级研究生
      - file: downloads/6x10-8.jpg
        description: 2006级本科生
      - file: downloads/6x8-9.jpg
        description: 2004级本科生
    category: 图像
---

<div class="grid download-grid clearfix">
  {% for item in page.downloads %}
  <!-- download item -->
  <div class="grid-item images"> <header><span>{{  item.header  }}</span></header>
    <div class="download-item">
      <!-- download content -->
      <div class="download-content">
        <h2>{{  item.title  }}</h2>
        {% for link in item.links %}
        <a href="{{  link.file  }}" class="download-link" target="_blank" >{{  link.description  }}</a>
        {% endfor %}
      </div>
      <!-- /portfolio content -->
      <div class="download-hover"></div>
      <img src="{{  item.thumb  }}" alt="" /> </div>
    <footer>
    <div class="download-cat"><span>{{  item.category  }}</span></div>
    </footer>
  </div>
  <!-- /download item -->
  {% endfor %}
</div>
