---
history:
  - year: 2001
    content:
      - 8月6日，为贯彻《国务院关于印发鼓励软件产业和集成电路产业发展若干政策的通知》（国发[2000]18号）和《教育部关于试办示范性软件学院的通知》的精神，南京大学开始组织申报示范性软件学院。
      - 12月3日，《教育部、国家计委关于批准有关高等学校试办示范性软件学院的通知》（教高[2001]6号）决定批准南京大学等35所国内著名高等学校建立示范性软件学院。
  - year: 2002
    content:
      - 2月16日，南京大学成立由张大良、陈道蓄、骆斌、黄细良、朱怀宏等组成的软件学院筹备组，借址南园中山楼，开展南京大学软件学院筹建工作。
      - 3月，骆斌代表南京大学向教育部周济部长汇报软件学院筹建情况。
      - 4月，南京大学与南京高新技术产业开发区签署框架协议共建南京大学软件学院。
      - 4月4日，南京大学软件学院正式成立，并组建中国共产党南京大学软件学院总支部委员会、南京大学软件学院理事会、南京大学软件学院教学指导委员会。蒋树声校长担任第一届理事会理事长，张大良副校长担任第一届教学指导委员会主任，陈道蓄兼任首任院长，黄细良担任首任书记兼副院长，骆斌任专职副院长。
      - 8月25日，坐落于南京高新技术产业开发区的南京大学软件学院教学实验楼正式启用。
      - 9月7-8日，迎来首批239名本科生和48名硕士生。
  - year: 2003
    content:
      - 2003年起，南京大学软件学院开始以科学的方法全面系统地研究软件工程专业人才培养体系，连续推出《南京大学软件工程学科教程》系列化版本，探索明显有别于计算机科学专业的、覆盖本科和研究生的、独立完善的学科教育体系。
      - 9月，图灵奖得主、瑞士苏黎士高工N.Wirth教授访问南京大学软件学院并作学术报告。同年开始，台湾著名IT写译者侯杰等一批企业专家应聘持续性在软件学院为学生开设专业课。
  - year: 2004
    content:
      - 南京大学软件学院软件工程系、南京大学软件学院信息系统工程系、南京大学软件学院嵌入式技术系成立。坐落于南京大学南园南苑教学楼的软 件学院鼓楼校区教学中心正式启用。
      - 6月，学院喜送首届92名本科生和48名研究生毕业，毕业生就业形势喜人。
      - 2004年，骆斌主持的《软件工程专业工程化实践教学体系的构建与实施》获江苏省教学成果一等奖。
  - year: 2005
    content:
      - 中国共产党南京大学软件学院委员会成立，黄细良任书记；第一届软件工程硕士专业学位教育指导委员会和软件学院学术委员会分别成立，陈道蓄任主任。
      - 教育部/科技部批准南京大学软件学院成立国家级Linux技术与推广中心，骆斌任主任。
      - 骆斌、赵志宏、邵栋、郑滔、陈道蓄完成的《软件工程专业工程化实践教学体系的构建与实施》教学成果获得第五届高等教育国家级教学成果二等奖。同年，两个学生团队进入微软全球Windows嵌入式挑战大赛总决赛，并最终获得亚洲选手最好成绩——第五名；一个学生团队获得Java Cup全国大学生信息技术大奖赛第一名。
      - 2005年开始，南京大学软件学院建设工作得到了社会的广泛关注，《科学日报》和《光明日报》分别以“南京大学软件学院办学成效斐然”和 “南京大学软件学院打特色牌”为题，报道了我院的建设成果和办学特色》.
      - 2005年起，南京大学软件工程专业连续被《中国大学评价》列为最高的A++等级，其中两年高居国内高校第一
  - year: 2006
    content:
      - 国务院学位委员会批准在南京大学设立应用软件工程博士点，自此软件学院形成了包括本科、工程硕士、硕士和博士在内的完整化应用型软件人才培养体系。
      - 国家外国专家局批准在南京大学软件学院设立国家软件人才国际培训基地（南京）。
      - 在教育部示范性软件学院验收评估中，南京大学软件学院位列第一层次，专业教学建设和教学质量保障尤其得到好评。
      - 12月，骆斌作为主要完成人参加的《对象化和主体化的软件协同技术、平台与应用》科研成果获得2006年国家科技进步二等奖。
  - year: 2007
    content:
      - 南京大学软件工程本科专业入选教育部质量工程项目——国家级特色专业，设软件工程、嵌入式软件、服务计算三个特色方向。
  - year: 2008
    content:
      - 陈道蓄、王浩然等主持的《计算系统基础》入选国家精品课程；南京大学软件工程人才培养模式创新实验区入选教育部质量工程项目——国家级人才培养模式创新实验区。
      - 10月31日，李宣东兼任软件学院第二任院长。
  - year: 2009
    content:
      - 随着南京大学仙林校区启用，在学院领导的努力下，软件学院主教学区迁址到南京大学鼓楼校区教学科研综合楼，高新区软件学院教学实验楼改为实训中心。同期，本科一至三个年级学生进入仙林校区学习，本科四年级和研究生进入鼓楼校区学习。
      - 由骆斌和丁二玉主编、凝结了软件学院一干教师数年心血的《南京大学软件工程专业本科教程》在北京高等教育出版社正式出版。
      - 骆斌、赵志宏、丁二玉、邵栋、陈道蓄、贝佳、黄细良、王浩然、葛季栋等完成的《软件工程专业人才培养体系建设——国际规范与 产业需求的有效融合》教学成果获得第六届高等教育国家级教学成果二等奖和江苏省高等教育教学成果特等奖；骆斌、邵栋、丁二玉等主持的《计算与软件工程》入选国家精品课程。
      - 10月，南京大学软件学院承办全国高校软件工程教育年会（2009）。
  - year: 2010
    content:
      - 骆斌主持的“软件工程主干课程教学团队”入选2010年度国家级教学团队。《操作系统原理与实践》课程入选国家精品课程。
  - year: 2011
    content:
      - 经全国工程硕士学位教育指导委员会评审，南京大学获得“全国工程硕士研究生教育创新院校”荣誉称号，物流工程专业和我院软件工程专业获得“全国工程硕士研究生教育特色工程领域”荣誉称号。
      - 软件工程专业作为南京大学四个专业之一入选教育部第二批卓越工程师教育培养计划；软件工程实验教学中心入选江苏省省级实验教学示范中心。
      - 10月22日，在 “国家示范性软件学院成立十周年总结表彰大会”上，南京大学软件学院共荣获5个奖项，在37所国家示范性软件学院中获得奖项最多，其中集体奖两项、个人奖三项。我校与北京大学、北京交通大学、重庆大学、东北大学、电子科技大学、北京工业大学、西安电子科技大学、西北工业大学获得了分量最重的国家示范性软件学院教学成果奖；我校以第一名的成绩获得了“十一五”国家示范性软件学院“质量工程”建设项目优秀奖；黄细良老师荣获国家示范性软件学院建设成就奖、赵志宏老师荣获国家示范性软件学院十佳专职教师、2006届毕业生吴玥灏校友荣获国家示范性软件学院十佳研究生。
  - year: 2012
    content:
      - “专业综合改革试点：软件工程专业”和“南京大学-趋势科技（中国）有限公司工程实践教育中心”两个项目入选教育部“本科教学工程”。
---

<div id="timeline">
  <ul id="dates">
    {% for one_year in page.history %}
    <li><a href="#{{  one_year.year  }}">{{  one_year.year  }}</a></li>
    {% endfor %}
  </ul>
  <!-- issues -->
  <ul id="issues">
    {% for one_year in page.history %}
    <li id="{{  one_year.year  }}">
      <h3>{{  one_year.year  }} 年</h3>
      <ul class="bullet-list-orange">
        {% for story in one_year.content %}
        <li>{{  story  }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  <!-- /issues -->
  <div id="grad_left"></div>
  <div id="grad_right"></div>
  <a href="#" id="next">+</a>
  <a href="#" id="prev">-</a>
</div>  
<!-- /timeline -->
